<!-- <h1>Demo</h1> -->
<!-- <app-login></app-login> -->
<!--<app-signup></app-signup>
<app-button-example></app-button-example>
<app-events-example></app-events-example> 
<app-property-binding></app-property-binding>-->
<!-- <app-button-example></app-button-example> -->
<!-- <app-sample></app-sample> -->
<!-- <app-property-bindingvs-invterpoletion></app-property-bindingvs-invterpoletion> -->
<!-- <app-conditional-statements></app-conditional-statements> -->
<!-- <app-switch-case></app-switch-case> -->
<!-- <app-for-loop></app-for-loop> -->
<!-- <app-form-example></app-form-example> -->
<app-header></app-header>
<h1>Header and footer Example</h1>
<app-footer></app-footer>