<button (click)="myEvent('button clicked')">click me</button>
<br><br><br>
<!-- normal keyup event -->
<!-- <input type="text" (keyup)="myEvent('keyup')">
-- get input value --
<br><br><br>
<input type="text" #box (keyup)="myEvent(box.value)"> 
<br><br><br>
<input type="text" #box (keyup.enter)="myEvent(box.value)"> 
<br><br><br>
<input type="text" #box (keyup.space)="myEvent(box.value)">
<br><br><br>
<input type="text" (blur)="myEvent('blue event')"> 
<br><br><br>
<div (mouseover)="myEvent('mouse in')" style="background-color: aqua;height: 100px;"> Mouse Over </div> 
<br><br><br>
<div (mouseleave)="myEvent('mouse out')" style="background-color: aqua;height: 100px;"> Mouse leave </div>

<input type="text" #box (keyup)="myEvent(box.value)" (blur)="myEvent('blue event')">
get textbox value 
<input type="text" (keyup)="getVal($event.target.value)">
<div>{{ textBoxValue }}</div>-->
<input type="text" #box><button (click)="getVal(box.value)">Get value</button>
<div>{{ textBoxValue }}</div>